@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

li {
    padding: 10px;
}

/* Page Content */

.content {
    padding: 0px;
    overflow-x: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}

.row section, .column {
    width: 50%;
    padding: 10px;
}

nav {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    background-color: #292827;
    position: sticky;
    top: 0;
    width: 100vw;
}

/* Style the links inside the navigation bar */

nav a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: .5rem;
    border-radius: 2px;
    margin-left: 5px;
}

/* Change the color of links on hover */

nav a:hover {
    color: dodgerblue;
}

/* Add an active class to highlight the current page */

nav a.active {
    background-color: dodgerblue;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
body {
    background-color: #121212;
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

.busy-loader {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
    background: transparent;
}

.w-ball-wrapper {
    position: absolute;
    width: 86px;
    height: 86px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 4.4s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 4.4s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 4.4s infinite;
    -o-transform: rotate(225deg);
    -o-animation: orbit 4.4s infinite;
    transform: rotate(225deg);
    animation: orbit 4.4s infinite;
}

.w-ball {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #FFFFFF;
    left: 0px;
    top: 0px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
}

.ball-1 {
    -moz-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    animation-delay: 0.96s;
}

.ball-2 {
    -moz-animation-delay: 0.19s;
    -webkit-animation-delay: 0.19s;
    -ms-animation-delay: 0.19s;
    -o-animation-delay: 0.19s;
    animation-delay: 0.19s;
}

.ball-3 {
    -moz-animation-delay: 0.38s;
    -webkit-animation-delay: 0.38s;
    -ms-animation-delay: 0.38s;
    -o-animation-delay: 0.38s;
    animation-delay: 0.38s;
}

.ball-4 {
    -moz-animation-delay: 0.58s;
    -webkit-animation-delay: 0.58s;
    -ms-animation-delay: 0.58s;
    -o-animation-delay: 0.58s;
    animation-delay: 0.58s;
}

.ball-5 {
    -moz-animation-delay: 0.77s;
    -webkit-animation-delay: 0.77s;
    -ms-animation-delay: 0.77s;
    -o-animation-delay: 0.77s;
    animation-delay: 0.77s;
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }
    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }
    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }
    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }
    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }
    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }
    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }
    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }
    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }
    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }
    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }
    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }
    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }
    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }
    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }
    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }
    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }
    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }
    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }
    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }
    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }
    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }
    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }
    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }
    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }
    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }
    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }
    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }
    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }
    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }
    76% {
        opacity: 0;
        transform: rotate(900deg);
    }
    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

h1 {
    font-family: 'Roboto', sans-serif;
}

/* Style the tab */

.tab {
    display: flex;
    float: left;
    width: 25%;
    flex-direction: column;
}

#tablinks {
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}

/* Style the buttons inside the tab */

.tab button {
    border-radius: 0px;
    display: block;
    background-color: inherit;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background: #333;
}

/* Create an active/current "tab button" class */

.tab button.active {
    background-color: #4f6bed;
}

/* Style the tab content */

article {
    padding: 16px;
    width: 75%;
    border: none;
    transition: all .2s ease-out;
    overflow-x: hidden;
}

article p{
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.searchbox {
    width: auto;
    margin: 10px;
    padding: 8px;
    transition: .3s;
    border: 1px solid #aaa;
    outline: none;
    background: black;
    color: white;
}

.searchbox:focus {
    background: white;
    color: black;
    border: 1px solid dodgerblue;
}

.searchbox::-webkit-input-placeholder {
    color: #a19f9d;
}

.searchbox:-moz-placeholder {
    /* Firefox 18- */
    color: #a19f9d;
}

.searchbox::-moz-placeholder {
    /* Firefox 19+ */
    color: #a19f9d;
}

.searchbox:-ms-input-placeholder {
    color: #a19f9d;
}

.searchbox::placeholder {
    color: #a19f9d;
}

* {
    box-sizing: border-box
}

p {
    font-family: 'Montserrat', sans-serif;
}

/* Header/Logo Title */

header {
    padding: 60px;
    text-align: center;
    font-size: large;
    color: white;
}

.defaultHeader
{
    background: #1abc9c;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
}

.btn {
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 2px;
    background: #333;
    margin-right: 5px;
    margin-bottom: 8px;
    color: white;
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 2px;
}

.btn:active {
    color: #000
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #444444;
    left: 0;
    top: 0;
    border-radius: 2px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

a:hover {
    color: #007af2;
}

.card {
    float: left;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Some left and right padding inside the container */

.title {
    color: grey;
    font-family: 'Lato', sans-serif;
}

.person {
    width: 50%;
    background-color: white;
    border-radius: 50%;
    height: 50%;
}

/* When the screen is smaller than 700pixels */

@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
        flex-direction: column;
        position: initial;
    }
    nav a {
        margin-right: 0px;
        margin: 5px;
    }
    nav a:hover {
        box-shadow: none;
    }
    nav a.active {
        box-shadow: none;
    }
}

/* When the screen is smaller than 800pixels */

@media screen and (max-width: 800px) {
    .row section, .column {
        width: 100%;
    }
    .row {
        flex-direction: column;
    }
    .tab {
        width: 100%;
    }
    #tablinks
    {
        overflow-y: hidden;
        height: initial;
        overflow-x: hidden;
    }
    article {
        width: 100%;
    }
}

.compactBtn {
    display: block;
    width: 100%;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
	margin-top: 8px;
}

.compactBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.centeredDiv {
    text-align: center;
}

.verticalCenter {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.verticalSeperator {
    display: none;
}

.horizontalSeperator {
    width: 100%;
}

iframe {
	border: none; 
	width: 100%; 
	height: 100vh; 
    margin: 0px;
    overflow: scroll;
}